/* Base:    #fef9e6
   Triade:  #E6FEF9       darker:  #0af0c0
            #F9E6FE       darker:  #D243F7 */

body {
    background-color: #fef9e6;
}

#img-logo {
    min-width: 160px;
    max-width: 240px;
}

#main {
    max-width: 2000px;
}

.navbar-light {
    background-color: #fef9e6 !important;
}

#canvas {
    min-width: 1000px;
}

#btn-menu-right {
    align-content: flex-start;
}

.btn-block {
    max-height: 40px;
    margin-bottom: 0px;
}

.testing-only {
    /* display: none; */
}

button {
    box-shadow: 4px 5px 16px #000000;
}